name: Build Sims4 Translator

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if (Test-Path requirements.txt) { pip install -r requirements.txt }
        pip install pyinstaller
        
    - name: Build EXE
      run: |
        # Kiểm tra icon và build
        if (Test-Path "resources/logo.ico") {
          pyinstaller --noconfirm --onefile --windowed --name "Sims4Translator" --icon "resources/logo.ico" --add-data "resources;resources" main.py
        } else {
          pyinstaller --noconfirm --onefile --windowed --name "Sims4Translator" --add-data "resources;resources" main.py
        }
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Sims4Translator-Build
        path: dist/Sims4Translator.exe
